/*========================
	   Buttons  style
==========================*/

.Buttons_Section .Custom_buttons{
	text-align: center;
}
.Custom_buttons .TURQUOISE{
	background-color: #1abc9c;
	border-color: #1abc9c;
}
.Custom_buttons .MIDNIGHT_BLUE{
	background-color: #2c3e50;
	border-color: #2c3e50;
}
.Custom_buttons .WISTERIA{
	background-color: #8e44ad;
	border-color: #8e44ad;
}
.Custom_buttons .ALIZARIN{
	background-color: #e74c3c;
	border-color: #e74c3c;
}
.Custom_buttons .OCTA{
	background-color: #2ecc71;
	border-color: #2ecc71;
}
.Custom_buttons .SUNFLOWER{
	background-color: #f1c40f;
	border-color: #f1c40f;
}
.Custom_buttons .POMEGRANATE{
	background-color: #c0392b;
	border-color: #c0392b;
}
.Custom_buttons .GROSS{
	background-color: #000;
	border-color: #000;
}

/*========================
	   label style
==========================*/
.Custom_label .TURQUOISE{
	background-color: #1abc9c;
	border-color: #1abc9c;
}
.Custom_label .MIDNIGHT_BLUE{
	background-color: #2c3e50;
	border-color: #2c3e50;
}
.Custom_label .WISTERIA{
	background-color: #8e44ad;
	border-color: #8e44ad;
}
.Custom_label .ALIZARIN{
	background-color: #e74c3c;
	border-color: #e74c3c;
}
.Custom_label .OCTA{
	background-color: #2ecc71;
	border-color: #2ecc71;
}
.Custom_label .SUNFLOWER{
	background-color: #f1c40f;
	border-color: #f1c40f;
}
.Custom_label .POMEGRANATE{
	background-color: #c0392b;
	border-color: #c0392b;
}
.Custom_label .GROSS{
	background-color: #000;
	border-color: #000;
}
